@*Created by Niklas Grieger on 27.09.2016.
    Partial View for new Appointment /Client*@
@{
    ViewBag.Title = "Neuer Termin";
    Layout = "";
}

<h2>Neuer Termin</h2>

<div class="form-group">
    <lable class="col-md-2 control-label" for="appoint_termintyp">Termintyp </lable>
    <div class="col-md-10">
        <input class="k-textbox" id="appoint_termintyp" />
    </div>
</div>
<div class="form-group">
    <lable class="col-md-2 control-label" for="appoint_subject">Fach: </lable>
    <div class="col-md-10">
        <input class="k-textbox" id="appoint_subject" />
    </div>
</div>
<div class="form-group">
    <lable class="col-md-2 control-label" for="appoint_date">Datum: </lable>
    <div class="col-md-10">
        <input id="appoint_date" value="2016/06/02"/>
    </div>
</div><br />
<div class="form-group">
    <lable class="col-md-2 control-label" for="appoint_comment">Kommentar: </lable>
    <div class="col-md-10">
        <input class="k-textbox" id="appoint_comment" />
    </div>
</div><br />
<div class="form-group">
    <lable class="col-md-2 control-label" for="appoint_grad">Note: </lable>
    <div class="col-md-10">
        <input id="appoint_grad" type="number" value="" min="1" max="6" step="1" />
    </div>
</div><br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="appoint_submit" class="btn btn-default" value="Speichern" onclick="saveAppointment()" />
    </div>
</div>
<script>
    //Initialisiert das Datum html element als DatePicker, formatiert das angezeigte Datum in deutsches Format und setzt die Default Value auf das heutige Datum
    var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
    $("#appoint_date").kendoDatePicker({
        value: todayDate
    });
</script>