@{
    ViewBag.Title = "Schüler Informationstool (SIT)";
}

<h1>my first page</h1>
<ul id="menu">
    <li onclick="showWidget('stundenplan')">
        Stundenplan
        <ul>
            <li>Sub Item 1</li>
        </ul>
    </li>
    <li onclick="showWidget('userinfo')">
        userinfo
        <ul>
            <li>Sub Item 1</li>
        </ul>
    </li>
</ul>

    <div class="row">
        <div class="col-md-6">
            <div id="stundenplan">hier kommt der Sundenplan rein...</div>
        </div>
        <div class="col-md-6">
            <div id="userinfo">hier kommen infos über den schüler rein...</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="infoIHK">hier kommen infos über die ihk rein...</div>
        </div>
        <div class="col-md-6">
            <div id="new">Irgendwas</div>
        </div>
        <div class="row">
            <div class="row-md-12" id="termine">
                hier kommt eine termin tabelle rein
                <div id="termineGrid"></div>
            </div>
        </div>
    </div>

@section scripts
{
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.default.mobile.min.css" />

    <script src="~/Scripts/KendoUI/js/jquery.min.js"></script>
    <script src="~/Scripts/KendoUI/js/kendo.all.min.js"></script>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/js/myFirst.js"></script>
    <link rel="stylesheet" href="~/Scripts/css/myStyle.css">
}

