@{
    ViewBag.Title = "Schüler Informationstool (SIT)";
}

<h1>my first page</h1>
<ul id="menu">
    <li onclick="showWidget('stundenplan')">Stundenplan</li>
    <li onclick="showWidget('userinfo')">Steckbrief</li>
    <li onclick="showWidget('infoIHK')">Prüfunginfos</li>
    <li onclick="showWidget('new')">Folgt..</li>
    <li onclick="showWidget('termine')">Terminliste</li>
</ul>
    <div id="stundenplan">hier kommt der Sundenplan rein...</div>

    <div id="userinfo">
        <label for="firstname">Vorname: </label>
        <span id="firstname"></span>
        <br />
        <label for="lastname">Nachnahme:</label>
        <span id="lastname"></span>
        <br />
        <label for="profession">Beruf:</label>
        <span id="profession"></span>
        <br />
        <label for="class">Klasse:</label>
        <span id="class"></span>
    </div>

    <div id="infoIHK">hier kommen infos über die ihk rein...</div>
    <div id="new">Irgendwas</div>
    <div id="termine">
        hier kommt eine termin tabelle rein
        <div id="termineGrid"></div>
    </div>
    <div id="chat">Hier kommt der Chat rein...</div>
@section scripts
{
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Scripts/KendoUI/styles/kendo.default.mobile.min.css" />

    <script src="~/Scripts/KendoUI/js/jquery.min.js"></script>
    <script src="~/Scripts/KendoUI/js/kendo.all.min.js"></script>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/js/Client.js"></script>
    <link href="~/Scripts/css/Client.css" rel="stylesheet" >
}

